@media(max-width: 600px) {
    div:last-of-type {
        display: none;
    }
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #333;
}

div {
    position: relative;
    margin: 0 auto;
    padding: 50px;
    color: #FFF;
    width: 400px;
    background-color: cornflowerblue;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div h1 {
    text-align: center;
}

@keyframes fancy {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

div h1:hover {
    color: darkorange;
    font-size: 48pt;
    animation: 1s fancy infinite;
}

div span {
    position: fixed;
    z-index: 1;
    top: 5px;
    right: 5px;
}